<h1> Welcome to our fancy new wall site!</h1>

<form name="post"> 
  <label for="name">Name</label>
  <input type="text" name="name" />

  <label for="email">Email</label>    
  <input type="text" name="email" />

  <label for="comment">Comment</label>    
  <textarea name="comment"></textarea>
</form>

<hr /> 

<div id="postArea">

</div> 