// Place all the styles related to the Wall controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form[name='post'] {
  input, button, .error {
    margin-bottom:15px;
  }
  input, label, button, .error {
    display:block;
  }
  .error {
    color: red;
  }
}

#postArea {
  .post {
    border-bottom: 2px solid grey;
    img {
      vertical-align:middle;
    }
  }
}